@use "variables";

.button {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: variables.$orange;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color variables.$duration ease-in-out, border-color variables.$duration ease-in-out;
  border: 1px solid transparent;
  p {
    margin-left: 8px;
  }

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all variables.$duration ease-in-out;
  }

  &:hover {
    background-color: variables.$orange-dark;
  }

  &:active {
    background-color: variables.$orange-dark;
    transform: translateY(1px);
  }
  &--fullfilled {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 700;
    p {
      margin-left: 8px;
    }
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }
  &--circle {
    width: 30px;
    height: 30px;
    color: variables.$orange;
  }

  &--black {
    background-color: variables.$black;

    &:hover,
    &:active {
      background-color: #2a2a2a;
    }
  }

  &--outline {
    background-color: #fff;
    border-color: variables.$orange;
    &,
    span {
      color: variables.$orange;
    }

    svg {
      path {
        fill: variables.$orange;
      }
    }

    &:hover {
      background-color: variables.$orange;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: variables.$orange-dark;
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &--add {
    display: flex;
    align-items: center;
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: #fff;
        color: variables.$orange;
      }
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: variables.$orange;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
