$primary-color: #3498db;
$text-color: #ffffff;

$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$gray-line-1: #cdcdcd;
$gray-line-2: #cccccc;
$orange: #fe5f1e;
$orange-dark: #e0531b;

$container-width: 90%;

$duration: 0.15s;
